/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  body {
    /* variables */
    --primary-color: #C1CFA1;
    --secondary-color: #B17F59;
    --contrast-color: #A5B68D;
    --tertiary-color: #EDE8DC;
    --font-color: #333;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--tertiary-color);
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
  }

  @media only screen and (max-width: 480px) {
    header {
      padding: 0.5rem 1rem;
    }
  }

  @media screen and (min-width: 768px) {
    header {
      padding: 1rem 2rem;
    }
  }
